# Ignora tutto
*

# File/cartelle da sincronizzare in root
!README.md
!readme.md
!assets/
!Slides/
!src/

# Tutto dentro assets e Slides
!assets/**
!Slides/**

# Permetti tutte le sottocartelle di src
!src/**/

# In src, solo file sorgente
!src/**/*.c
!src/**/*.h
!src/**/*.py