# Ignora tutto di default
*

# Permetti root
!README.md

# Permetti cartelle principali
!assets/
!Slides/
!src/

# Permetti tutto dentro assets e Slides
!assets/**
!Slides/**

# In src: permetti solo .c e .h
!src/**/*.c
!src/**/*.h